<p id="notice"><%= notice %></p>

<h1>Markers</h1>
<div id='renderForm'></div>
  <table class='table bg-secundary'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Subcategory</th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <tbody id='data'> 
      <%= render('markers/data') %> 
  </tbody>
</table>

<br>

<%= link_to 'New Marker', new_marker_path, remote: true, class:"btn btn-secondary text-light" %>
